<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Explore
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li class="dropdown-item">@Html.ActionLink("Activities", "Index", "ActivityDetails")</li>
        <li class="dropdown-item">@Html.ActionLink("Trails", "Index", "TrailDetails")</li>
        <li class="dropdown-item">@Html.ActionLink("Lands", "Index", "GovernedLands")</li>
        <li class="dropdown-item">@Html.ActionLink("Ranges", "Index", "MountainRanges")</li>
    </ul>
</li>