* {
    box-sizing: border-box;
}

.container-main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    background-color: lightslategray;
}

.container-section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.container-section h3 {
    text-align: center;
}

.container-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.container-image {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.container-contact {
    display: flex;
    margin: 10px;
}

input {
    width: 500px;
}






